<!--HEAD-->

<%- include("../partials/head.ejs") %> 

<body>
    <!--Barra de navegación-->

    <%- include("../partials/navBar.ejs") %>

    <!--Cuerpo-->
    <div class="container marginBarra">
        <div class="row">
            <div class="col">
                <div class="card w-50 bg-dark text-dark mx-auto mt-4">
                    <img src="/img/web/maintenance.jpg" alt="Página en Mantenimiento" class="card-img">
                    <div class="card-img-overlay">
                        <h2 class="card-title text-center bg-light bg-opacity-25 rounded">Página en Mantenimiento</h2>
                        <div class="position-relative m-auto w-50">
                            <p class="card-text bottom-0 tiny text-center mb-2 bg-light bg-opacity-25 rounded"><small class="">Photo by <a class="link-dark" href="https://unsplash.com/@heftiba">Toa Heftiba</a> on <a class="link-dark" href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Footer-->

    <%- include("../partials/footer.ejs") %> 

    <!--JS Bootstrap-->

    <%- include("../partials/jsBootstrap.ejs") %> 

</body>
</html>