<button>
    <a href="/login" class="btn shadow btn-flotante-e btn-flot-hover p-0 m-auto d-flex align-items-center justify-content-around" title="Iniciar Sesión"><img src="/icon/user.svg"></a>
</button>