<div class="container-fluid mt-3 p-0 position-relative">
    <div class="row pie m-0 pt-3 position-absolute end-0 w-100">
        <div class="col-6 text-center">
            <h5>Información:</h5>
            <ul class="m-0 p-0">
                <li class="h6">
                    <a class="" href="/products">Artículos</a>
                </li>
                <li class="h6">
                    <a class="" href="#">Conocenos</a>
                </li>
                <li class="h6">
                    <a class="" href="#">Contáctanos</a>
                </li>
            </ul>
        </div>
        <div class="col-6 text-center">
            <h5>Seguinos en:</h5>
            <a class="p-1" href="https://www.facebook.com/" role="button" aria-pressed="true" title="Facebook"><img src="./icon/facebook.svg" class="dark-spring-green" alt=""></a>
            <a class="p-1" href="https://www.instagram.com/" role="button" aria-pressed="true" title="Instagram"><img src="./icon/instagram.svg" class="dark-spring-green" alt=""></a>

        </div>
    </div>
</div>